[submodule "extern/raylib.zig"]
	path = extern/raylib.zig
	url = git@github.com:ryupold/raylib.zig.git
[submodule "extern/zig-gamedev"]
	path = extern/zig-gamedev
	url = git@github.com:michal-z/zig-gamedev.git
